<div id="container">
  <div id="content">
    <h1 class='t-server'>New comment from user</h1>
    <h2 class='server'>Request : </h2>
    <p class = 'p-server'>{{request}}</p>
    <br> 
    <h2 class='server'>Name : </h2>
    <p class = 'p-server'>{{name}}</p>
    <br>
    <h2 class='server'>Email : </h2>
    <p class = 'p-server'>{{email}}</p>
    <br>
    <h2 class='server'>Cellphone : </h2>
    <p class = 'p-server'>{{cellphone}}</p>
    <br>
    <h2 class='server'>Message : </h2>
    <p class = 'p-server'>{{message}}</p>
  </div>
</div>

<footer>
  
  <section>
    <h3>Fire prevention<span> UFPS</span></h3>
    <p> A project from Francisco de Paula Santander University to Norte de Santander.</p>
  </section>
  <section>
    <h3>Visit our website</h3>
    <a href="https://www.wsnufpsproject.ga">www.wsnufpsproject.ga</a>
    <h3>Contact us via email</h3>
    <a href="mailto:xxxxx@gmail.com">xxxxx@gmail.com</a>
  </section>   
  
  <section id= "last">
    <ul>
      <li><h3>All rights reserved</h3></li>
      <li>Jhon Castro, UFPS © 2020</li>
      <li>404 Stamford Dr Newark, Delaware</li>
      <li>+1 302-357-5863</li>
    </ul>
  </section>
</footer>
