<header class="header">
  <h3><a href="/users/reset/{{token}}" class="logo">Reset <span>password</span></a></h3>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/users">Login</a></li>
  </ul>
</header>

<div id="wrapper"></div>
<div id="container">
  {{#if errorpage}}
    <section class="errors-contact" style="margin-top: 8em !important;">
      <h2>Is it not possible to change your password</h2>
      <ul>
        <li>{{errorpage}}</li>
      </ul>
      <br><br>
      <a id="home-button" href="/users">Return</a>
      <br>
    </section>
  {{/if}}
  {{#if errors}}
    <section class="errors-contact">
      <h2>Is it not possible to change your password</h2>
      {{#each errors}}
      <ul>
        <li>{{this.msg}}</li>
      </ul>
      {{/each}}
    </section>
  {{/if}}
  <div class="contact-form-wrap">
    {{#if success}}
      <div class="contact-tab">
        <h2 class="contact-title signup-tab">Password changed successfully</h2>
      </div>
      <div class="content-form">
        <p>Hello, {{data.name}}!</p>
        <p>Your password has been updated successfully. We have sent you a confirmation email to this address <strong>{{data.email}}</strong>.</p>
        <p>Click on the button below to login</p>
        <a id="home-button" href="/users">Login</a>
      </div><!--.tabs-content-->
    {{else}}
      {{#unless errorpage}}
      <div class="contact-tab">
        <h2 class="contact-title signup-tab">Please enter your new password</h2>
      </div>
      <div class="content-form">
        <style> 
            .fixed-fields::placeholder {
              color: #20b2aa !important;
              font-weight: bold !important;
              opacity: 1;
            }
            .fixed-fields:-ms-input-placeholder {
              color: #20b2aa !important;
              font-weight: bold !important;
            }
            .fixed-fields::-ms-input-placeholder {
              color: #20b2aa !important;
              font-weight: bold !important;
            }
        </style>
        <form class="contact-form" action="/users/reset/{{token}}" method="post" >
          
          <span class="w-input" id="w-name"><input type="text" class="input fixed-fields" autocomplete="off" placeholder="{{data.username}}" name="r_username" disabled></span>
          <span class="w-input" id="w-user_email"><input type="text" class="input fixed-fields" autocomplete="off" placeholder="{{data.email}}" name="r_email" disabled></span>
          <span class="w-input w-password"><input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password" name="r_pass" required></span>
          <p class= "show-alert" id = "show-pass"></p>
          <span class="w-input w-password"><input type="password" class="input" id="user_cpass" autocomplete="off" placeholder="Confirm password" name="r_cpass" required></span>
          <p class= "show-alert" id = "show-cpass"></p>
          <input type="submit" class="button" value="Submit">
        </form><!--.login-form-->
      </div><!--.tabs-content-->
      {{/unless}}
    {{/if}}
  </div><!--.form-wrap-->
</div>

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Fire prevention<span> UFPS</span></h3>

    <p class="footer-links">
      <a href="/" class="link-1">Home</a>
    
      <a href="/about">About</a>
      
      <a href="/contact">Contact</a>
      
      <a href="/users">Login</a>
    </p>

    <p class="footer-company-name">Jhon Castro, UFPS © 2020</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>404 Stamford Dr</span> Newark, Delaware</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 302-357-5863</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:wsnufpsproject@gmail.com">wsnufpsproject@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>The project</span>
      A project from Francisco de Paula Santander University to Norte de Santander.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>